<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
  <%- include('./partials/nav') %>

  <h1>Full Menu of <%= restaurant.name %></h1>

  <% if (restaurant.menu.some(item => item.category === 'mains')) { %>
    <h2>Mains</h2>
    <ul>
      <% restaurant.menu.forEach(item => { %>
        <% if (item.category === 'mains') { %>
          <li><%= item.name %> - <%= item.price %>$</li> 
          <li>Rating: <%= item.rating %> /5</li> 
          <li><%= item.details %></li>
        <% } %>
      <% }); %>
    </ul>
  <% } %>

  <% if (restaurant.menu.some(item => item.category === 'desserts')) { %>
    <h2>Desserts</h2>
    <ul>
      <% restaurant.menu.forEach(item => { %>
        <% if (item.category === 'desserts') { %>
          <li><%= item.name %> - <%= item.price %>$</li> 
          <li>Rating: <%= item.rating %> /5</li> 
          <li><%= item.details %></li>
        <% } %>
      <% }); %>
    </ul>
  <% } %>

  <% if (restaurant.menu.some(item => item.category === 'sides')) { %>
    <h2>Sides</h2>
    <ul>
      <% restaurant.menu.forEach(item => { %>
        <% if (item.category === 'sides') { %>
          <li><%= item.name %> - <%= item.price %>$</li> 
          <li>Rating: <%= item.rating %> /5</li> 
          <li><%= item.details %></li>
        <% } %>
      <% }); %>
    </ul>
    
  <% } %>

  
</body>

</html>
